@model IoTControlKit.ViewModels.BaseViewModel
@{
    ViewData["Title"] = "Flow Editor";
}

<div id="flowEditor" style="width:100%;height:700px"></div>

<script>

    var flowEditorObj;
    var allFlowData = @Html.Raw(Json.Serialize(Model.ResultData));

    $(function () {
        require(["flowEditor"],
            function (flowEditor) {
                flowEditorObj = flowEditor.createFlowEditor('#flowEditor', allFlowData);
            });
    });
</script>