@{
    ViewData["Title"] = "Flow Editor";
}

<div id="flowEditor" style="width:100%;height:700px"></div>

<script>

    var flowEditorObj;

    $(function () {
        require(["flowEditor"],
            function (flowEditor) {
                flowEditorObj = flowEditor.createFlowEditor('#flowEditor');
            });
    });
</script>